@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1,h2 {
    text-align: left;   
    padding:1.2rem;
    font-weight: lighter;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size:1rem;
}

.container {
    margin: 0 auto;
    max-width:700px;
}