/* Record */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {  
    outline:none;   
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    padding:1.2rem;
}

.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {   
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding:1.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.message-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width:500px;
}

.message-container > * {
    margin-bottom: 0.6rem;
}

.message-container-unit {
    font-size: 0;  
    overflow-wrap: break-word;
    display:flex;
    flex-direction: row;    
}

.message-container-unit > p.content {
    width:440px;
    display: inline-block;
    
}

.message-container-unit > span.title {
    display: inline-block;   
    width:60px;
} 

#messageHeading {
    color:green;
}

input {
    padding:0.3rem;  
    width:300px;
}

input[type="submit"] {
    width:300px;
    border: 0;    
    padding: 0.4rem;
}

input[type="submit"]:active{
    transform:scale(0.98)
}

input[type="submit"]:not(:active){
    transform:scale(1);
}

.form-controller {
    margin-bottom: 1rem;
}

.form-controller label {
    display:block;
    margin-bottom: 0.5rem;
}

.display-hidden {
    display:none;
}

.display-visible {
    display:block;
}

.border-green {
    border:2px solid green;
}

.border-red {
    border:2px solid red;
}

.opacity-hidden {
    opacity:0
}

.opacity-visible {
    opacity:1;
}